* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(25, 26, 91);
}
  
/* Header Starts */
.header {
    padding: 20px 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgb(96, 23, 23);
    position: sticky;
    top: 0
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(181, 132, 47);
    margin: 0;
}

header a {
    font-size: 20px;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: rgb(181, 132, 47);
}
/* Header ends */

/* Footer starts */
.email-styling {
    text-align: center;
}

.email {
    border-radius: 20px;
    width: 5%
}
/* Footer ends */

/* Hero starts */
.container{
    flex-wrap: wrap;
    padding: 20px 0px 20px;
}
.my-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
}
/* Hero ends */

/* Section starts*/
.new-project {display: flex;
    justify-content: center;
}

.group-project{
    border-radius: 20px;
}

h2 {
    text-align: center;
    padding: 10px 0px 10px;
    color: rgb(181, 132, 47);
    text-decoration: underline;
    text-decoration-thickness: length;
}

p {
    background-color: rgb(96, 23, 23);
    color: rgb(181, 132, 47);
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}

.project-links img{
    height: 600px;
    width: 600px;
    padding: 10px 0px;
    border-radius: 20px;

}
/* Section ends*/
